{
  "extends": "loopback",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "max-len": ["warn", 120],
    "no-var": "error",
    "operator-linebreak": ["error", "before"],
    "space-before-function-paren": ["warn", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }]
  }
}
